anyio
autopep8
bcrypt
beanie
certifi
cffi
click
cryptography
dnspython
email-validator
fastapi
fastapi-jwt-auth
h11
httpcore
httptools
httpx
idna
itsdangerous
Jinja2
lazy-model
MarkupSafe
motor
orjson
passlib
pycodestyle
pycparser
pydantic
PyJWT
pymongo
python-dotenv
python-multipart
PyYAML
rfc3986
six
sniffio
starlette
toml
tomli
typing_extensions
ujson
uvicorn
uvloop
watchfiles
websockets
opencv-python
opencv-contrib-python
opencv-python-headless
pandas
mongoengine
numpy
fastapi-mail
pydantic-settings
torch
torchvision
fpdf2